<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
      </div>
      <div class="modal-body">
        <p>Confirma a exclusão do registro!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteConfirm()">
          CONFIRMAR
        </button>
        <button type="button" class="btn btn-success" (click)="closePopup()">
          FECHAR
        </button>
      </div>
    </div>
  </div>
</div>

